*{
    padding: 0;
    margin: 0;
}
.body{
    display: grid;
    height: 100vh;
    grid-template-columns: max(350px,28%) auto;
    grid-template-rows: max-content max-content ;
    gap: 15px;
    background-color: rgb(46, 43, 43);

}

.top-bar{
    padding-top: 10px 0px;
    grid-row: 1/3;
    grid-column: 1/3;
    color: white;
    font-weight: bolder;
    background-color: rgb(46, 43, 43);
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
}

.top-bar .logo{
    text-align: center;
    font-size: 30px;
}

.top-bar .tab-bar{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.tab-container{
    grid-row: 2/3;
}
.tab-bar .tab-item, .add-tab{
    background-color: rgb(65, 62, 62);
    text-align: center;
    padding: 10px;
    border-left: 1px rgb(90, 85, 85) solid;
}

.tab-bar .add-tab{
    grid-column: -1/-2;
    grid-row: -1/-2;
}

.side-bar{
    grid-template-columns: 1/2;
    grid-row: 3/4;
    height: 100%;
    background-color: rgb(46, 43, 43);
}

.side-bar .name{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.side-bar .work-container,.add-todo{
    color: white;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px;
}

.work-container .todo-item{
    padding: 20px 0px;
    width: 80%;    
    background-color: rgb(65, 62, 62);    
    margin: auto;
}


.main-container{
    margin: 30px;
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: rgb(65, 62, 62);    
    display: grid;
    grid-template-rows: max-content auto;
    margin-left: 0;
    margin-top: 0;
}

.main-container .work-name{
    background-color: rgb(46, 43, 43);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
}